.header__image img{
    width: 100%;
    height: 500px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    /*background-color: green;*/
}

.fullLogo {
    display: flex;
    justify-content: space-between;
    width: 123px;
}

.logo img{
    position: absolute;
    left: 16px;
    top: 14px;
    width: 40px;
    height: 40px;
}

.logo__name {
    color: white;
    font-weight: 600;
    line-height: 1;
    font-size: 19px;
}

.headerList {
    margin: 13px 3px;
    display: flex;
    list-style: none;
    align-items: center;
}

.headerList .headerItem {
    font-size: 17px;
    font-style: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
}

.headerList .headerItem:last-child {
    width: 100%;
    height: 100%;
    font-size: 17px;
    text-align: center;
    margin-right: 12px;
    margin-left: 16px;
    background-color: rgb(5,160,129);
    border-radius: 3px;
    padding: 9px 13px 10px 10px;
    font-weight: 600;
}

.headerLink {
    color: rgb(255, 255, 255);
    margin: 0 16px;
    text-decoration: none;
}

.searchForm {
    margin: auto;
    position: absolute;
    top: 117px;
    left: 616px; 
    width: 650px;
    height: 57px;
    padding: 10px;
    border: none;
}

.elemContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: white;
    border-radius: 5px;
}

.elemContainer img {
    width: 20px;
    margin-right: -10px;
}

.search {
    padding-left: 10px;
    border: none;
    width: 100%;
    font-size: 17px;
}

.search:focus {
    outline: none;
}

.formText {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.suggestionsList {
    display: flex;
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin: 10px 0px;
}

.suggestionsList .suggestion:first-child {
    color: white;
    margin-right: 10px;
}

.suggestionLink {
    color: #d3d3d3;
    text-decoration: none;
    margin: 0px 3px;
}

.suggestionLink:hover {
    color: white;
}









/*gallery*/

.mainMenuWrapper {
    margin-right: 55px;
}

.mainMenu {
    display: block;
    margin: 0 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.mainMenu .mainMenuItem {
    margin: 0 4px;
    letter-spacing: 0.4px;
    padding: 15.5px;
    font-size: 17px;
    font-style: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
}

.mainMenuLink {
    position: relative;
    font-weight: 500;
    color: #5e5e5e;
    text-decoration: none;
}

.mainMenuLink:focus {
    color: #0064f9;
}

.mainMenuLink:hover {
    color: #0064f9;
}


.mainMenuLink:focus:before {
    transform: scaleX(1);
}

.mainMenuLink:before {
    content: "";
    bottom: -20px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #0064f9;
    transform: scaleX(0);
}

hr {
    margin-top: 4px;
    background-color: rgb(248, 245, 245);
    border: none;
    height: 2px;
}

.gallery {
    background-color: rgb(255, 255, 255);
    height: 5500px;
}

.loadmore{
    display: inline-block;
    margin-top:30px;
    padding: 20px 50px;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: azure;
    font-weight: 500;
    cursor: pointer;
}



